<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
    <h1>jaba — just another backlog app</h1>
    <nav>
      <ul>
        <li><a href="/games">Home</a></li>
        <li><button id="logoutButton">Logout</button></li>
      </ul>
    </nav>
  </header>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Developer</th>
        <th>Year</th>
        <th>Genre</th>
        <th>Status</th>
        <th>Your score</th>
        <th>Time played</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% entries.forEach(entry => { %>
        <tr>
          <td><%= entry.title %></td>
          <td><%= entry.developer %></td>
          <td><%= entry.year %></td>
          <td><%= entry.genre %></td>
          <td><%= entry.status %></td>
          <td>
            <% if (entry.score === 0) { %>
              <%= "—" %>
            <% } else { %>
              <%= entry.score + '/5' %>
            <% } %>
          </td>
          
          <td>
            <% if (entry.time === 0) { %>
              <%= "—" %>
            <% } else { %>
              <%= parseInt(entry.time / 60) %>h <%= entry.time % 60 %>m
            <% } %>
          </td>
          
          <td><button class="moreButton" data-id="<%= entry._id %>">More</button></td>
        </tr>
      <% }); %>
      <tr>
        <td><input type="text" id="newEntryTitle"></td>
        <td><input type="text" id="newEntryDeveloper"></td>
        <td>
          <select id="newEntryYear">
            <% for (let i = new Date().getFullYear(); i >= 1950; i--) { %>
              <option value="<%= i %>"><%= i %></option>
            <% } %>
          </select>
        </td>
        <td><input type="text" id="newEntryGenre"></td>
        <td><input type="text" id="newEntryStatus"></td>
        <td>
          <select id="newEntryScore">
            <option value=1>1/5</option>
            <option value=2>2/5</option>
            <option value=3>3/5</option>
            <option value=4>4/5</option>
            <option value=5>5/5</option>
            <option value=0>No Rating Yet</option>
          </select>
        </td>
        <td><input type="number" id="newEntryTime" placeholder="In minutes"></td>
        <td><button id="addButton">Add</button></td>
      </tr>
    </tbody>
  </table>

  <div id="detailedCardOverlay">
    <div id="detailedCard">
      <h2 id="detailedCardTitle"></h2>
      <p id="detailedCardDeveloper"></p>
      <p id="detailedCardYear"></p>
      <p id="detailedCardGenre"></p>
      <p id="detailedCardStatus"></p>
      <p id="detailedCardScore"></p>
      <p id="detailedCardTime"></p>
      <button id="editButton">Edit</button>
      <button class="deleteButton">Delete</button> <!-- Add class "deleteButton" here -->
      <button id="closeDetailedCard">Close</button>
    </div>
  </div>

  <script src="eventHandler.js"></script>
</body>

</html>
