<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
    <h1>jaba — just another backlog app</h1>
    <nav>
      <ul>
        <li><a href="/games">Home</a></li>
        <li><button id="logoutButton">Logout</button></li>
      </ul>
    </nav>
  </header>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Developer</th>
        <th>Year</th>
        <th>Genre</th>
        <th>Status</th>
        <th>Your score</th>
        <th>Time played</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% entries.forEach(entry => { %>
        <tr>
          <td><%= entry.title %></td>
          <td><%= entry.developer %></td>
          <td><%= entry.year %></td>
          <td><%= entry.genre %></td>
          <td><%= entry.status %></td>
          <td><%= entry.score %></td>
          <td><%= parseInt(entry.time / 60) %>h <%= entry.time % 60 %>m</td>
          <td><button class="deleteButton" data-id="<%= entry._id %>">Delete</button></td>
        </tr>
      <% }); %>
      <tr>
        <td><input type="text" id="newEntryTitle"></td>
        <td><input type="text" id="newEntryDeveloper"></td>
        <td><input type="number" id="newEntryYear"></td>
        <td><input type="text" id="newEntryGenre"></td>
        <td><input type="text" id="newEntryStatus"></td>
        <td><input type="text" id="newEntryScore"></td>
        <td><input type="number" id="newEntryTime" placeholder="In minutes"></td>
        <td><button id="addButton">Add</button></td>
      </tr>
    </tbody>
  </table>
  <script src="eventHandler.js"></script>
</body>

</html>
